#header{
    background-color: black;
}

.game {
    margin-top: 50px;
    text-align: center;
}
.game h1{
    font-size: 3rem;
    text-align: center;
}
.track {
    position: relative;
    width: 80%;
    height: 200px;
    margin: 20px auto;
    background-color: #ddd;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.car {
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 1s linear;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0dcdc;
}


#car1 {
    background-color: red;
}

#car2 {
    background-color: blue;
    top: 60%;
}

#car3 {
    background-color: green;
    top: 70%;
}

.results {
    margin-top: 20px;
}

.corredores {
    margin-top: 50px;
}

.corredor {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.corredor h3{
    font-size: 2rem;
}

.corredor p{
    font-size: 2rem;
}

.corredores h2{
    font-size: 3rem;
    text-align: center;
}

.corredor:hover {
    background-color: #f9f9f9;
}

.game button{
    font-size: 1.6rem;
    border-radius: 50px;
    background-color: red;
}

.game button:hover{
    background-color: rgb(109, 19, 19);
}